{% extends 'base_authentication.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/forgot_password.css' %}">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="password-reset-form card shadow-sm border-0">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">KIA Parcels</h2>
                    <form method="post" action="{% url 'password_reset' %}" id="password-reset-form">
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for field, error_list in form.errors.items %}
                                    {% for error in error_list %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="email" class="font-weight-bold text-secondary">Email address</label>
                            {{ form.email_address }}
                            <div class="text-danger mt-2">{{ form.errors.email_address }}</div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
